* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;  
    color:#515151;
}

body {
    height: 100%;
    background-image: url("images/torii.jpg");
    background-position: center; /* Center the image */
    background-size: fixed;
    background-repeat: no-repeat;
}

.content_box {
    background-color: rgba(255,255,255,.75);
    border-radius: 25px;
    height: 610px;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 4%;
    padding-left: 1%;
    padding-right: 1%;
}

.header {
    font-size: 2.5em;
    position: relative;
    text-align: center;
    float: left;
    width: 56%;
}

.body {
    text-align: justify;
    text-justify: inter-word;
    font-size: .9em;
    padding-right: 5%;
}

.col1 {
    float: left;
    width: 70%;
}

.col2 {
    float: left;
    width: 30%;
}


.linkbutton {
    font-size: 1.1em;
    padding-top:10px;
    padding-bottom:10px;
    border: none;
    background:none;
}

