{{- if or .Params.author site.Params.author }}
{{- $author := (.Params.author | default site.Params.author) }}
{{- $author_type := (printf "%T" $author) }}

{{- if (or (eq $author_type "[]string") (eq $author_type "[]interface {}")) }}
  {{- $processed := slice }}
  {{- range $author }}
    {{- $name := . }}
    {{- if eq $name "Arthur Feeney" }}
      {{- $name = printf "<strong>%s</strong>" $name | safeHTML }}
    {{- end }}
    {{- $processed = $processed | append $name }}
  {{- end }}
  {{- (delimit $processed ",&thinsp;" | safeHTML) }}
{{- else }}
  {{- $name := $author }}
  {{- if eq $name "Arthur Feeney" }}
    {{- $name = printf "<strong>%s</strong>" $name | safeHTML }}
  {{- end }}
  {{- $name | safeHTML }}
{{- end }}
{{- end -}}
